<!--
 * @Author: liming
 * @Date: 2021-10-05 13:11:37
 * @LastEditTime: 2021-10-05 13:16:52
 * @FilePath: \02-代码手敲\headlines-b\public\index.html
-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- 单页面的入口节点，最终所有组件都会渲染到这里 -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
