<!--
 * @Author: liming
 * @Date: 2021-09-19 13:54:11
 * @LastEditTime: 2021-10-03 20:03:51
 * @FilePath: \headlines-m\src\App.vue
-->
<template lang="pug">
#app
    //- 路由的出口，路由出口不要删
    <router-view/>
</template>

<script>
export default {
  name: "App",
};
</script>
<style lang="less"></style>
