<!--
 * @Author: liming
 * @Date: 2021-10-03 20:40:27
 * @LastEditTime: 2021-10-03 20:40:27
 * @FilePath: \headlines-m\src\views\home\index.vue
-->
<template lang="pug">
    div.login-container 视频页面
</template>

<script>
export default {
  name: "VideoIndex",
  components: {},
  props: {},
  data() {
    return {};
  },
};
</script>

<style lang="less"></style>
